fastapi
uvicorn
python-multipart
pywhispercpp
openai
python-dotenv
pydantic
pydantic-settings
websockets
numpy
webrtcvad
scipy
langchain
langchain-cerebras
sqlalchemy
aiosqliteaiosqlite
greenlet
langchain-cerebras
